.divider{
    width: 50px;
    height: 2px;
    display: block;
    background-color: #f58d17;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #0d0d0c;
}
img{
    width: 90%;
} 
 section{
    padding-top: 120px;
    padding-bottom: 120px;
} 
.btn{
    border-radius: 0;
    padding: 14px 38px;
}
.btn-brand{
    color: white;
    font-weight: 500;
    border-color: #F58d17;
    background-color: #3c17f5;
}
.btn-brand:hover{
    border-color: #d37810;
    background-color: #d37810;
    color: #fff;
}
#about{
    height:auto;
   background-image: url("../../images/about_background.jpg");
}
p{
    color: rgb(5, 5, 5);
    font-size: 20px;
  
}
.About_h1{
    color: white;
}