.logIn {
  background: url("../../images/signin.jpg")  fixed repeat-y;
  background-size:cover;
  
}

.logInformStyle {
  padding: 5rem 0;
  min-height: 95vh;
}

.register-form {
  max-width: 40rem;
  margin: 3rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0 50px 0 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px 0 rgb(13, 13, 13);
  
}

.register-form h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: #f7444e;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
}
/* Toggle Password */
.passVis {
  position: relative;
}
.fasStyle {
  position: absolute;
  right: 1.2rem;
  top: -2rem;
  cursor: pointer;
}
/* Toggle Password */

.btnStyle {
  text-align: center;
}
.btnStyle button {
  width: 150px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 50px;
  color: #fff;
  background-color: #f7444e;
  outline: #f7444e;
}
.btnStyle button:hover {
  background-color: #bb272f;
  color: #fff;
}
.social-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin: 1rem 0 0.7rem 0;
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #444;
  border: 1px solid #444;
  border-radius: 50px;
  margin: 0 15px;
}
.social-icon:hover {
  color: #f7444e;
  border-color: #f7444e;
}

.account-text {
  text-align: center;
  margin: 1rem 0 0.7rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.errStyle {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}
